@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
*{

    /*Removing an expected gap or space*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
/*Navbar*/
.navbar{
    display: flex;
    align-items: center;
    background-color: rgb(224, 66, 87);
    position: sticky;
    top: 0;
}
.navbar #bar{
   
    font-size: 32px;
    color: teal;
    margin-left: 67%;
   
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: bold;
   
}
.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 5px;
    float: right; 
    margin-left:  2rem;
}
.navbar ul li a:hover{
    background-color: rgb(7, 72, 107); 

}
/*Section One*/
#hero {
    background-color:rgb(51, 49, 49) ;
   background-position: top center;
   position: relative;
   height: 35em;
}
.container{
    min-height: 100vh;
    width: 100;
    display: flex;
    align-content: center;
    justify-content: center;
}
#hero h1{
display: block;
width: fit-content;
font-size: 65px;
position: relative;
color: rgb(235, 233, 233);
margin-top: 30%;
}
#p1{
    color: rgb(128, 45, 45);
    font-size: 45px;
    font-style: italic;
}
/*End of Section One*/

/*Section Two*/
#about{
    background-color: rgb(47, 47, 78);
    height: 65em;
}
#about .about{
    flex-direction: column;
    text-align: center;
}
#about h1{
    margin-top: -240px;
    font-size: 40px;
    color: rgb(190, 190, 190);
}
hr{
    margin-left: 32%;
    margin-right: 32%;
    height: 0;
}

/*div images section part*/
.imges{
    float: left;
  padding: 2px;
  margin-top: -35%;
  margin-bottom: 60%;
}
.imges{
    flex: 30%;
    padding: 20px;
}
.images::after{
    content: "";
    clear: both;
    display: table;  
}
.images{
    display: flex;
}
/*End of Images div*/
/*SecondImages*/
.imgs{
    float: left;
  padding: 2px;
  margin-top: -60%;
  margin-bottom: 60%;
}
.imgs{
    flex: 10%;
    padding: 20px;
}
.secondImages::after{
    content: "";
    clear: both;
    display: table;  
}
.secondImages{
    display: flex;
}
/*End of SecondImages*/


/*Section Three*/
#contact{
    background-color: rgb(59, 57, 57);
    height: 25em;
}
.container h1{
    color: rgb(229, 226, 226);
    font-size: 50px;
    margin-top: 6%;
    text-align: center;
    justify-content: center;
    
}
.container p{
    color: rgb(201, 195, 195);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    font-size: 20px;
    margin-bottom: 5%;
    font-style: italic;
    margin-left: 28%;
}
/*Icon Links*/
.container a{
font-size: 25px;
padding: 12px;
color: whitesmoke;
text-decoration: none;
margin-top: 12%;
margin-bottom: -12em;
}
#hr1{
    height: 6px;
   background-color: rgb(207, 84, 84);
   width: 100%;
   margin-left: -0.0%;
   margin-right: -23%;
}
/*Footer*/
.footer{
    background-color: rgb(59, 57, 57);
    height: 20em; 
    margin-bottom: -58%;
}
.footer #p1{
    color: whitesmoke;
   font-size: 23px;
   font-style: normal;
   float: left;
   margin-top: 2%;
   margin-left: 32px;
}
.footer #p2{
    color: whitesmoke;
    font-size: 23px;
    font-style: normal;
    margin-top: 2%;
    float: right;
    margin-right: 42px;
}